<% content_for :scripts do %>
        <%= javascript_include_tag 'edit_stock' %>
<% end %>

<script>$('#cancel').hide()</script>

<h1>Editing Stock Information</h1>

<%= render 'form' %>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>
</div>
